<% form_for :user, :url => { :action => :adcreate } do |f| %>
<!-- , :url => { :action => :signup } -->
<%= error_messages_for 'users' %>

					<label for="user_login">Desired Login: 
					<%= f.text_field :login ,:onfocus => "new Effect.Appear('loginNote')", :onblur => "Element.hide('loginNote')" %></label> <br>
					<div id="loginNote" style="display:none;" class="signupNote">Login must be 5-15 characters</div>
					<label for="user_password">Password: 
					<%= f.password_field :password, :value => '', :onfocus => "new Effect.Appear('passNote')", :onblur => "Element.hide('passNote')" %></label> <br>
					<div id="passNote" style="display:none;" class="signupNote">Password must be at least 6 characters</div>
					<label for="user_email">Email: 
					<%= f.text_field :email, :onfocus => "new Effect.Appear('mailNote')", :onblur => "Element.hide('mailNote')" %></label> <br>	
					<div id="mailNote" style="display:none;" class="signupNote">Must be a valid email address</div>
					<%end%>