<div align="center"><img src="http://lloydsliens.com/images/e-lien-logo-green-sm.png"></div>
Dear Dr. <%= @user.physician_name %>,<br><br>
<a href="http://sathish5566.b0ne.com/user/resetpassword/<%= @user.reset_password_code %>">Click this link to reset your password</a>

<br><br>

If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
Thanks,<br><br>

The E-Lien Team



