<div align="center"><img src="http://lloydsliens.com/images/e-lien-logo-green-sm.png"></div>
Dear Dr. <%= @user.physician_name %>,<br><br>

Thank you for signing up with E-Lien!<br><br>

Your account will allow you manage and generate you liens online.<br><br>

Do you know about our referral directory?  It can <b>SAVE YOU MONEY</b> by greatly reducing your office staff's time spent on the phone tracking down patient information and <b>MAKES YOU MONEY</b> by letting other medical providers know you provide lien based services so they can easily send you business.<br><br>

For more information <a href="http://www.lloydsliens.com/advertising/referrals">click here</a>.<br><br>

Thanks,<br><br>

The E-Lien Team

