<%= error_messages_for 'users' %>

<!--[form:users]-->
<p><label for="users_name">name</label><br/>
<%= text_field 'newadmin', 'name'  %></p>

<p><label for="users_password">Password</label><br/>
<%= password_field 'newadmin', 'password'  %></p>

<!-- <p><label for="users_password">Password_Confirmation</label><br/> -->
<%#= password_field 'newadmin', 'password_confirmation'  %></p>

