<div style="margin:auto; width:400px; height:170px; color: #1A8BCB; border:1px solid #348BCB;padding:0px 20px 10px 10px;">
<div style="text-align:center">

<h1>All admin</h1>
<table >
<tr>
  <b>name:</b>
</tr></br>
  <% @newadmins.each do |newadmin| %>
<tr >
 <%= newadmin.name %> </br>
 
</tr>
<% end %>
</table>
</div>

<div style="float:left">
<%= link_to 'Back',:controller=> 'lien', :action => 'list' %>
</div>
</div>
