<br clear='all'>
<div style="border:solid 1px red;padding:5px;margin:auto;width:40%;font-size:x-small;">
Be featured in this listing and have the ability to receive referrals and import all patient info into your account! <%= link_to "Click here to find out how!", {:controller => :advertising, :action => :referrals}, :target => "_BLANK" %>
</div>
<h3>The following list of referring facilities provide lien based services:</h3>
<div style="padding:30px">
<% @category.each do |c| %>
	<%= link_to c.name, :action => :providers, :lien => params[:id], :id => c.id %><br><br>
<% end %>
</div>