 
 <% form_tag(:controller => 'user',:action => 'update_password',:id => @user.id) do %>
 <div style="margin-left:234px;">
  <span><label></label>Enter New Password:</label>
  <%= password_field_tag 'password' %>
  </span><br><br>
  <span style="margin-left:130px;"><%= submit_tag 'Submit' -%></span>
   </div>
 
  <% end %>
 