<%# form_for :user, :url => { :action => :adcreate } do |f| %>
<% form_tag :action => 'create' do %>

<%= error_messages_for 'users' %>

<p><label for="users_login">Login</label><br/>
<%= text_field 'users', 'login'  %></p>

<p><label for="users_password">Password</label><br/>
<%= password_field 'users', 'password'  %></p>

<p><label for="users_email">Email</label><br/>
<%= text_field 'users', 'email'  %></p>	
					
<%end%>
