<h1>Forgotten your password? </h1>
<p>
	To reset your password, type the full email address that you used while signup.
</p>
<%= form_tag(:controller => 'user',:action => 'send_mail_forgot_pwd') do %>
<p>
	Email:
	<%= text_field_tag 'email' %>
</p>
<%= submit_tag 'Submit' -%>
<% end %>